.sidebar-container{
    width: 100%;
    max-width: 22rem;
    height: 100vh;
    background-color: white;
    padding: 2rem;
    display: block;
   position: relative;
   bottom: 200px;
}

.sidebar-top {
    width: 12.5rem;
    border-bottom: 1px solid black;

}

.sidebar-bottom ul{
    list-style: none;
    
}
.sidebar-bottom li{
    display: flex;
  gap: 1.1rem;
    align-items: center;
    margin-top: 1.8rem;
}

@media (max-width: 1400px){
    .sidebar-container{
        display: none;
    }
}