.top-grid{
    background-color: white;
   gap: 20px;
    height: 200px;
   
}

.top-grid-item{
    background-color: white;
    border: 1px solid black;
    border-radius: 0.625rem;;
   /* gap: 10px; */
    height: 170px;
  
    padding: 1.25rem 1rem;
}